@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3.1rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.875rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.3rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.875rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.56rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.24rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.84rem;
    font-size: calc( 1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.455rem + (2.3 - 1.455) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-scW1CgsGR5 {
  z-index: 1000;
  width: 100%;
}
.cid-scW1CgsGR5 nav.navbar {
  position: fixed;
}
.cid-scW1CgsGR5 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-scW1CgsGR5 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-scW1CgsGR5 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-scW1CgsGR5 .dropdown-item:hover,
.cid-scW1CgsGR5 .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-scW1CgsGR5 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-scW1CgsGR5 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-scW1CgsGR5 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-scW1CgsGR5 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-scW1CgsGR5 .nav-link {
  position: relative;
}
.cid-scW1CgsGR5 .container {
  display: flex;
  margin: auto;
}
.cid-scW1CgsGR5 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-scW1CgsGR5 .dropdown-menu,
.cid-scW1CgsGR5 .navbar.opened {
  background: #000000 !important;
}
.cid-scW1CgsGR5 .nav-item:focus,
.cid-scW1CgsGR5 .nav-link:focus {
  outline: none;
}
.cid-scW1CgsGR5 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-scW1CgsGR5 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-scW1CgsGR5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-scW1CgsGR5 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-scW1CgsGR5 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-scW1CgsGR5 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-scW1CgsGR5 .navbar {
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: rgba(0, 0, 0, 0.4);
}
.cid-scW1CgsGR5 .navbar.opened {
  transition: all .3s;
}
.cid-scW1CgsGR5 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-scW1CgsGR5 .navbar .navbar-logo img {
  width: auto;
}
.cid-scW1CgsGR5 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-scW1CgsGR5 .navbar.collapsed {
  justify-content: center;
}
.cid-scW1CgsGR5 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-scW1CgsGR5 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-scW1CgsGR5 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-scW1CgsGR5 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-scW1CgsGR5 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-scW1CgsGR5 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-scW1CgsGR5 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-scW1CgsGR5 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-scW1CgsGR5 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-scW1CgsGR5 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-scW1CgsGR5 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-scW1CgsGR5 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-scW1CgsGR5 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-scW1CgsGR5 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-scW1CgsGR5 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-scW1CgsGR5 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-scW1CgsGR5 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-scW1CgsGR5 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-scW1CgsGR5 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-scW1CgsGR5 .navbar.navbar-short {
  min-height: 60px;
}
.cid-scW1CgsGR5 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-scW1CgsGR5 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-scW1CgsGR5 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-scW1CgsGR5 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-scW1CgsGR5 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-scW1CgsGR5 .dropdown-item.active,
.cid-scW1CgsGR5 .dropdown-item:active {
  background-color: transparent;
}
.cid-scW1CgsGR5 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-scW1CgsGR5 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-scW1CgsGR5 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-scW1CgsGR5 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-scW1CgsGR5 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-scW1CgsGR5 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-scW1CgsGR5 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-scW1CgsGR5 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-scW1CgsGR5 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-scW1CgsGR5 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-scW1CgsGR5 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-scW1CgsGR5 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-scW1CgsGR5 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-scW1CgsGR5 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-scW1CgsGR5 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-scW1CgsGR5 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-scW1CgsGR5 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-scW1CgsGR5 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-scW1CgsGR5 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-scW1CgsGR5 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-scW1CgsGR5 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-scW1CgsGR5 .navbar {
    height: 70px;
  }
  .cid-scW1CgsGR5 .navbar.opened {
    height: auto;
  }
  .cid-scW1CgsGR5 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-scW1HIW5m9 {
  background-image: url("../../../assets/images/kevin-young-icmodywxuq-unsplash.jpeg");
}
.cid-scWk4v6eYI {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fafafa;
}
.cid-scWk4v6eYI .icon-transition span {
  padding: 0.1rem 0.9rem;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  height: 3em;
  line-height: 3em;
  width: 3em;
  background: #444444 none repeat scroll 0 0;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-scWk4v6eYI .photo-split {
  padding: 0;
}
.cid-scWk4v6eYI .photo-split img {
  width: 100%;
}
.cid-scWk4v6eYI .icon-transition span:hover {
  background-color: #ffbc00;
}
.cid-scWk4v6eYI .counter-container ul {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-scWk4v6eYI .counter-container ul li {
  margin-bottom: .5rem;
  list-style: ✓;
}
.cid-scWk4v6eYI .counter-container ul li:before {
  color: #ff9966;
  display: inline-block;
  content: '✓';
  text-align: center;
  line-height: 1.5em;
  transition: all .2s;
  width: 25px;
  height: 25px;
}
.cid-scWk4v6eYI .wrap-block {
  padding: 3rem 3rem;
}
.cid-scWk4v6eYI .wrap-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cid-scWk4v6eYI .wrap-block ul li {
  display: inline-block;
}
.cid-scWk4v6eYI .wrap-block ul li span {
  text-align: center;
}
.cid-scWk4v6eYI .social-media {
  margin-top: 1.5em;
  padding: 0;
}
.cid-scWk4v6eYI .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-scWk4v6eYI .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-scWk4v6eYI .mbr-list,
.cid-scWk4v6eYI .social-media UL {
  text-align: left;
}
@media (max-width: 500px) {
  .cid-scWk4v6eYI .wrap-block {
    padding: 3rem 1rem;
  }
}
@media (max-width: 767px) {
  .cid-scWk4v6eYI .mbr-section-title,
  .cid-scWk4v6eYI .mbr-section-subtitle,
  .cid-scWk4v6eYI .mbr-text {
    text-align: center !important;
  }
  .cid-scWk4v6eYI .social-list {
    text-align: center !important;
  }
}
.cid-scWk4v6eYI .mbr-list,
.cid-scWk4v6eYI .social-media {
  color: #767676;
}
.cid-scWk4v6eYI .mbr-section-title {
  color: #000000;
}
.cid-scW276LNJe {
  padding-top: 90px;
  padding-bottom: 15px;
  background-color: #fafafa;
}
.cid-scW276LNJe .mbr-text,
.cid-scW276LNJe .mbr-section-subtitle {
  color: #767676;
}
.cid-scW276LNJe .card-title {
  color: #66458e;
}
.cid-scW276LNJe .card .card-img span {
  color: #ff9966;
  font-size: 60px;
  background: linear-gradient(45deg, #ff9966, #e96188);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .cid-scW276LNJe .mbr-section-subtitle,
  .cid-scW276LNJe .mbr-section-title {
    text-align: center !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-scW276LNJe .card .card-img span {
    background: none;
  }
}
.cid-scW276LNJe .mbr-section-title {
  color: #000000;
}
.cid-scW276LNJe .card-title,
.cid-scW276LNJe .card-img {
  color: #000000;
}
.cid-scW276LNJe .mbr-text {
  color: #767676;
}
.cid-scW276LNJe .mbr-section-subtitle {
  color: #767676;
}
.cid-scWJn302ka {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #fafafa;
}
.cid-scWJn302ka .subicon-title {
  color: #000000;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-scWJn302ka .subicon-text {
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  color: #767676;
}
.cid-scWJn302ka .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-scWJn302ka .underline .line {
  width: 3rem;
  height: 2px;
  background: #232323;
  display: inline-block;
}
.cid-scWJn302ka .process-icon,
.cid-scWJn302ka .process-icon-without-before {
  width: 100%;
  padding-bottom: 2rem;
}
.cid-scWJn302ka .wrapper,
.cid-scWJn302ka .wrapper-without-before {
  position: relative;
  margin-bottom: 2rem;
}
.cid-scWJn302ka .wrapper::before {
  content: '\e966';
  font-family: MobiriseIcons !important;
  position: absolute;
  font-size: 30px;
  left: -15px;
  top: 30%;
  color: #232323;
  opacity: .4;
}
.cid-scWJn302ka .icon-container {
  display: inline-flex;
  position: relative;
}
.cid-scWJn302ka .icon-container a {
  display: inherit;
}
.cid-scWJn302ka .icon-number {
  text-align: center;
  height: 2.5em;
  width: 2.5em;
  margin: 0;
  line-height: 2.5em;
  top: 0;
  right: 0;
  position: absolute;
  display: inline-block;
  background-color: #ff9966 !important;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 50%;
  color: #000000;
  z-index: 1;
}
.cid-scWJn302ka .icon-main {
  margin: 1rem 0;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  padding: 0;
  transition: all 0.3s ease-in-out 0s;
}
.cid-scWJn302ka .icon-main:hover .icon-wrapper {
  background-color: #ff9966 !important;
}
.cid-scWJn302ka .icon-main:hover .icon-number {
  background-color: #232323 !important;
  color: #ffffff !important;
}
.cid-scWJn302ka .icon-wrapper {
  position: relative;
  z-index: 1;
  padding: 0.9em;
  height: 100%;
  margin: 0 auto;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 50%;
  font-size: 50px;
  color: #ffffff;
}
.cid-scWJn302ka .main-wrapper {
  padding: 3rem 0 0 0;
}
@media (max-width: 767px) {
  .cid-scWJn302ka .wrapper::before {
    display: none;
  }
}
@media (max-width: 991px) {
  .cid-scWJn302ka .third-elem .wrapper:before {
    display: none;
  }
}
.cid-scWJn302ka .mbr-section-title {
  margin: 0;
}
.cid-scWJn302ka .mbr-section-subtitle {
  color: #232323;
  text-align: center;
}
.cid-sfc6UogGeN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fafafa;
}
.cid-sfc6UogGeN a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-sfc6UogGeN a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-sfc6UogGeN .form-group {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sfc6UogGeN .input-group-btn .btn {
  border-radius: 0px !important;
}
.cid-sfc6UogGeN .form-control {
  background: none;
  border-radius: 0px;
}
.cid-sfc6UogGeN textarea.form-control {
  min-height: 214.5px;
}
.cid-sfc6UogGeN .ico-box {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 50px;
  margin-bottom: 2.5rem;
}
.cid-sfc6UogGeN h4,
.cid-sfc6UogGeN p {
  margin: 0;
}
.cid-sfc6UogGeN h2 {
  color: #333;
  margin-bottom: 2rem;
}
.cid-sfc6UogGeN h3 {
  color: #767676;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.cid-sfc6UogGeN .icon {
  color: #000000;
  font-size: 3.4rem;
}
@media (max-width: 991px) {
  .cid-sfc6UogGeN h2 {
    text-align: center;
  }
  .cid-sfc6UogGeN h3 {
    text-align: center;
  }
  .cid-sfc6UogGeN .input-group-btn {
    text-align: center;
  }
  .cid-sfc6UogGeN .social-list {
    text-align: center;
  }
  .cid-sfc6UogGeN .order-2 {
    margin-top: 2.5rem;
  }
}
.cid-sfc6UogGeN H2 {
  color: #656565;
}
.cid-sfc6UogGeN .content {
  text-align: left;
  color: #000000;
}
.cid-sfc6UogGeN .type {
  text-align: left;
  padding-bottom: 8px;
  color: #232323;
}
.cid-sfc6UogGeN .title1 {
  text-align: left;
  color: #000000;
}
.cid-sfc6UogGeN .mbr-section-subtitle {
  text-align: left;
  color: #656565;
}
.cid-sfc6UogGeN .title2 {
  color: #000000;
}
.cid-scX6lrHDMR {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/kevin-young-icmodywxuq-unsplash-3.jpeg");
}
.cid-scX6lrHDMR .row-links {
  width: 100%;
  justify-content: center;
}
.cid-scX6lrHDMR .social-row {
  width: 100%;
  justify-content: center;
}
.cid-scX6lrHDMR .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-scX6lrHDMR .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-scX6lrHDMR .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-scX6lrHDMR .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-scX6lrHDMR .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-scX6lrHDMR .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-scX6lrHDMR .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-scX6lrHDMR .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-scX6lrHDMR .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-scX6lrHDMR .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-scX6lrHDMR .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-scX6lrHDMR .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-scX6lrHDMR .media-container-row .mbr-text {
  text-align: center;
}
.cid-scXakxV2eM.popup-builder {
  background-color: #ffffff;
}
.cid-scXakxV2eM.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-scXakxV2eM.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-scXakxV2eM .modal-content,
.cid-scXakxV2eM .modal-dialog {
  height: auto;
}
.cid-scXakxV2eM .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-scXakxV2eM .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-scXakxV2eM .form-wrapper .mbr-form .form-group,
  .cid-scXakxV2eM .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-scXakxV2eM .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-scXakxV2eM .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-scXakxV2eM .mbr-text {
  text-align: center;
  color: #353535;
}
.cid-scXakxV2eM .pt-0 {
  padding-top: 0 !important;
}
.cid-scXakxV2eM .pb-0 {
  padding-bottom: 0 !important;
}
.cid-scXakxV2eM .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-scXakxV2eM .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-scXakxV2eM .modal-open {
  overflow: hidden;
}
.cid-scXakxV2eM .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-scXakxV2eM .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-scXakxV2eM .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-scXakxV2eM .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-scXakxV2eM .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-scXakxV2eM .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-scXakxV2eM .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-scXakxV2eM .modal-content {
  background: #fafafa;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-scXakxV2eM .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-scXakxV2eM .modal-backdrop.fade {
  opacity: 0;
}
.cid-scXakxV2eM .modal-backdrop.show {
  opacity: .5;
}
.cid-scXakxV2eM .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-scXakxV2eM .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-scXakxV2eM .modal-header .close:hover {
  opacity: 1;
}
.cid-scXakxV2eM .modal-header .close:focus {
  outline: none;
}
.cid-scXakxV2eM .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #000000;
}
.cid-scXakxV2eM .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-scXakxV2eM .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-scXakxV2eM .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-scXakxV2eM .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-scXakxV2eM .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-scXakxV2eM .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-scXakxV2eM .modal-sm {
    max-width: 300px;
  }
  .cid-scXakxV2eM .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-scXakxV2eM .modal-lg,
  .cid-scXakxV2eM .modal-xl {
    max-width: 800px;
  }
  .cid-scXakxV2eM .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-scXakxV2eM .modal-xl {
    max-width: 1140px;
  }
  .cid-scXakxV2eM .container {
    max-width: 1140px;
  }
}
.cid-scXakxV2eM .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-scXakxV2eM .container {
    max-width: 720px;
  }
}
.cid-scXakxV2eM .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-scXakxV2eM .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-scXakxV2eM .form-group {
  margin-bottom: 1rem;
}
.cid-scXakxV2eM .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-scXakxV2eM .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-scXakxV2eM .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-scXr9ru6lE.popup-builder {
  background-color: #ffffff;
}
.cid-scXr9ru6lE.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-scXr9ru6lE.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-scXr9ru6lE .modal-content,
.cid-scXr9ru6lE .modal-dialog {
  height: auto;
}
.cid-scXr9ru6lE .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-scXr9ru6lE .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-scXr9ru6lE .form-wrapper .mbr-form .form-group,
  .cid-scXr9ru6lE .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-scXr9ru6lE .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-scXr9ru6lE .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-scXr9ru6lE .mbr-text {
  text-align: center;
  color: #353535;
}
.cid-scXr9ru6lE .pt-0 {
  padding-top: 0 !important;
}
.cid-scXr9ru6lE .pb-0 {
  padding-bottom: 0 !important;
}
.cid-scXr9ru6lE .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-scXr9ru6lE .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-scXr9ru6lE .modal-open {
  overflow: hidden;
}
.cid-scXr9ru6lE .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-scXr9ru6lE .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-scXr9ru6lE .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-scXr9ru6lE .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-scXr9ru6lE .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-scXr9ru6lE .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-scXr9ru6lE .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-scXr9ru6lE .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-scXr9ru6lE .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-scXr9ru6lE .modal-backdrop.fade {
  opacity: 0;
}
.cid-scXr9ru6lE .modal-backdrop.show {
  opacity: .5;
}
.cid-scXr9ru6lE .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-scXr9ru6lE .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-scXr9ru6lE .modal-header .close:hover {
  opacity: 1;
}
.cid-scXr9ru6lE .modal-header .close:focus {
  outline: none;
}
.cid-scXr9ru6lE .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #000000;
}
.cid-scXr9ru6lE .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-scXr9ru6lE .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-scXr9ru6lE .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-scXr9ru6lE .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-scXr9ru6lE .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-scXr9ru6lE .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-scXr9ru6lE .modal-sm {
    max-width: 300px;
  }
  .cid-scXr9ru6lE .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-scXr9ru6lE .modal-lg,
  .cid-scXr9ru6lE .modal-xl {
    max-width: 800px;
  }
  .cid-scXr9ru6lE .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-scXr9ru6lE .modal-xl {
    max-width: 1140px;
  }
  .cid-scXr9ru6lE .container {
    max-width: 1140px;
  }
}
.cid-scXr9ru6lE .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-scXr9ru6lE .container {
    max-width: 720px;
  }
}
.cid-scXr9ru6lE .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-scXr9ru6lE .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-scXr9ru6lE .form-group {
  margin-bottom: 1rem;
}
.cid-scXr9ru6lE .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-scXr9ru6lE .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-scXr9ru6lE .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
